<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><block name="title"></block></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/all.css"/>
    <script src="__PUBLIC__/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<include file="Public/header" />
<block name="main">

</block>
<include file="Public/footer" />
</body>
<script src="__PUBLIC__/js/login_btn.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/tieba_btn.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/To.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/js/slider.js" type="text/javascript" charset="utf-8"></script>
</html>
</html>