<link rel="stylesheet" type="text/css" href="__PUBLIC__/dist/css/wangEditor.min.css">
<div class="pinglun">
    <div id="div1">
        <p>请输入内容...</p>
    </div>

    <script type="text/javascript" src="__PUBLIC__/dist/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/dist/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var editor = new wangEditor('div1');
            editor.create();
        });
    </script>
</div>