<extend name="Public/base"/>
<block name="main">
<!--		中间贴吧分栏-->
       <div class="tb">
            <div class="tb_lunbotu">
                    
            </div>
            <div class="tb_middle">
                <div class="tb_left">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>  
                <div class="tb_right">
                    <div class="tb_r"></div>
                    <div class="tb_r"></div>
                    <div class="tb_r"></div>
                    <div class="tb_r"></div>
                    <div class="tb_r"></div>
                    <div class="tb_r"></div>
                </div>
            </div>
       </div>
</block>

