<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的地盘贴吧</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/personal_bar.css" />
</head>
<body>
<!-------------------------头部---------------------->
<div class="head-p">
    <!--图片背景-->
    <notempty name="board">
        <foreach name="board" item="vo">
            <img class="photo" src="{$vo.b_cover}"/>
            <!--吧主层-->

            <div class="personal">
                <div class="img-div">
                    <img class="img" src="{$vo.b_headicon}"/>
                </div>
                <div class="personal-top bsBox">
                    <div class="name">
                        <b style="font-size: 25px;">{$vo.name}</b>
                    </div>
                    <!------------+关注按钮-->
                    <div class="translated">
                        <a href="#">+关注</a>
                    </div>
                    <!--关注人数，帖子数量总div-->
                    <div class="translated-num">
                        <notempty name="attention_count">
                            <span>关注：</span>
                            <span>{$attention_count[0]['attention_count']}</span>
                            <else />
                            <span>关注：</span>
                            <span>0</span>
                        </notempty>
                        <notempty name="post_count">
                            <span>帖子：</span>
                            <span>{$post_count[0]['post_count']}</span>
                            <else />
                            <span>帖子：</span>
                            <span>0</span>
                        </notempty>
                    </div>
                </div>
                <!--标签语言-->
                <!--word-->
                <div class="word">
                    <p class="cont">
                        <notempty name="post_count">
                            {$vo.b_explain}
                            <else />
                            这个吧主很懒,什么也没留下...
                        </notempty>
                    </p>
                </div>
            </div>
        </foreach>
    </notempty>

</div>
<!-------------------------中间部分------------------->
<div id="body-p">
    <!--大的面积部分-->
    <notempty name="post">
        <foreach name="post" item="vo">
            <div class="tall bsBox">
                <div class="title">
                    <p class="title-word"><a href="#">{$vo.title}</a></p>
                    <div class="people">
                        <span>发布者：</span>
                        <span>{$vo.u_name}</span>
                    </div>
                    <div class="time">
                        <span>{$vo.p_date}</span>
                    </div>
                </div>
                <!--楼主里面内容-->
                <div class="content">
                    {$vo.content}
                </div>
            </div>
        </foreach>
    </notempty>
</div>
<!-------------------------尾部----------------------->
<div id="lass-p"></div>
</body>
</html>
