<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的地盘贴吧</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/personal_bar.css" />
</head>
<body>
<!-------------------------头部---------------------->
<div class="head-p">
    <!--图片背景-->
    <div class="photo"></div>
    <!--吧主层-->
    <div class="personal">
        <div class="img-div">
            <img class="img" src="img/personal_bar/a_09.gif"/>
        </div>
        <div class="personal-top bsBox">
            <div class="name">
                <b style="font-size: 25px;">15软件开发3班</b>
            </div>
            <!------------+关注按钮-->
            <div class="translated">
                <a href="#">+关注</a>
            </div>
            <!--关注人数，帖子数量总div-->
            <div class="translated-num">
                <span>关注：</span>
                <span>100</span>
                <span>帖子：</span>
                <span>200</span>
            </div>
        </div>
        <!--标签语言-->
        <!--word-->
        <div class="word">
            <p class="cont">我爱你们~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!！！！！</p>
        </div>
    </div>
</div>
<!-------------------------中间部分------------------->
<div id="body-p">
    <!--大的面积部分-->
    <div class="tall bsBox">
        <div class="title">
            <p class="title-word"><a href="#">【联谊】啦啦啦~联谊！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！</a></p>
            <div class="people">
                <span>发布者：</span>
                <span>额额额鹅鹅鹅饿饿</span>
            </div>
            <div class="time">
                <span>2016年10月10日</span>
            </div>
        </div>
        <!--楼主里面内容-->
        <div class="content">
            真实画面场景的2D平面塔防； ☆红色警戒般的战斗画面让你欲罢不能； 游戏介绍：
            你是要当一辈子懦夫，还是要当英雄，哪怕只有几分钟！ 你喜欢虐杀成群的僵尸吗？
            那么这将是你一定不能错过的超爽塔防游戏！ 这是世界末日，僵尸病毒肆虐，城市变成废墟，
            人们被迫退入城市后方 避难所，但是仍然逃不过僵尸的进攻！ 你的任务是在每一个城市的避难所架设防御炮塔，
            保护这里幸存的人们，消灭所有的僵尸！ 你还在等什么，赶快下载这款免费又好玩的塔防游戏吧！
        </div>
    </div>
    <div class="tall bsBox">
        <div class="title">
            <p class="title-word"><a href="#">【联谊】啦啦啦~联谊！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！</a></p>
            <div class="people">
                <span>发布者：</span>
                <span>额额额鹅鹅鹅饿饿</span>
            </div>
            <div class="time">
                <span>2016年10月10日</span>
            </div>
        </div>
        <!--楼主里面内容-->
        <div class="content">
            真实画面场景的2D平面塔防； ☆红色警戒般的战斗画面让你欲罢不能； 游戏介绍：
            你是要当一辈子懦夫，还是要当英雄，哪怕只有几分钟！ 你喜欢虐杀成群的僵尸吗？
            那么这将是你一定不能错过的超爽塔防游戏！ 这是世界末日，僵尸病毒肆虐，城市变成废墟，
            人们被迫退入城市后方 避难所，但是仍然逃不过僵尸的进攻！ 你的任务是在每一个城市的避难所架设防御炮塔，
            保护这里幸存的人们，消灭所有的僵尸！ 你还在等什么，赶快下载这款免费又好玩的塔防游戏吧！
        </div>
    </div>

</div>
<!-------------------------尾部----------------------->
<div id="lass-p"></div>
</body>
</html>
