*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body{
	font-size: 14px;
	font-family: "microsoft yahei";
}
ul{
	list-style: none;
}
.rgb{
	color: rgb(142,22,20);
}
.button{
	width: 50px;
  	height: 25px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:active{
	background: rgb(142,22,20);
	color: #FFFFFF;
}
.bsBox{
	box-sizing: border-box;
	padding: 10px;
}
.text{
	width: 150px;
	outline: none;
	height: 30px;
	text-indent: 10px;
}
.select{
	width: 150px;
	outline: none;
	height: 30px;

}

