<link rel="stylesheet" type="text/css" href="__PUBLIC__/dist/css/wangEditor.min.css">
<div class="pinglun" style="height: 40%;width: 100%;">
    <input type="hidden" id="type" value="{$type}">
    <input type="hidden" id="id" value="{$id}">
    <div id="edit" style="height:340px">
        <p>请输入内容...</p>
    </div>
    <!--<p  id="p"><input id="publishBtn" type="button" value="发表"/></p>-->

    <script type="text/javascript" src="__PUBLIC__/dist/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/dist/js/wangEditor.min.js"></script>
</div>