/*--------------------页眉---------------------*/
#top{
	width: 100%;
	min-width: 1100px;
	height: 100px;
	background: rgb(142,22,20);
}
#top .out{
	width: 1100px;
	height: 100px;
	line-height: 100px;
	color: #FFF;
	margin: 0 auto;
}
.out .logo{
	width: 20%;
	font-size: 35px;
	float: left;
}
.out .tab{
	width: 30%;
	float: left;
	color: #FFF;
	font-size: 15px;
	position: relative;
}
.out .tab li{
	width: 80px;
	height: 100px;
	text-align: center;
	float: left;
}
.out .tab li a{
	color: #FFF;
}
/*贴吧扩展*/
.out .tab #tieba_btn:hover .list{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	height: 80px;
}
.out .tab .list{
	color: #000;
	width: 150px;
	height: 0px;
	overflow: hidden;
	background: #FFF;
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 100;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.out .tab .list a{
	display: block;
	color: #000000;
	width: 150px;
	height: 30px;
	text-indent: 20px;
	text-align: left;
	line-height: 50px;
}
.out .tab .list a:hover{
	color:rgb(142,22,20);
}
/*登陆按钮以及搜索框*/
.out .btn_search{
	float: right;
	height: 100px;
}

.btn_search li{
	width: 50px;
	height: 50px;
	float: left;
	text-align: right;
	margin-left: 10px;
}
.btn_search #user_info{
	width: 150px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
#user_info:hover .list{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	height: 80px;
}
#user_info .list{
	color: #000;
	width: 150px;
	height: 0px;
	overflow: hidden;
	background: #FFF;
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 100;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
#user_info .list a{
	display: block;
	color: #000000;
	width: 150px;
	height: 30px;
	text-indent: 20px;
	text-align: left;
	line-height: 50px;
}
#user_info a:hover{
	color:rgb(142,22,20);
}
/*用户名*/
#user_name{
	display:block;
	width: 150px;
	height: 100px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow:hidden;
}
.btn_search #search{
	width: 150px;
	height: 25px;
	border: none;
	oustne: none;
	text-indent: 5px;
}
.out #login_btn{
	cursor: pointer;
}
.out #login_btn:hover{
	color: #000000;
}
/*--------------------登陆窗口------------------*/
#login_register{
	width: 1100px;
	height:0px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#login_register ul li{
	margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
}
/*登陆 注册*/
#login_register .left{
	width: 900px;
	height:250px;
	position: absolute;
	left: 0;
	overflow: hidden;
}
#login_register .left .out{
	width: 1800px;
	height: 250px;
	position: relative;
	left: 0;
}
#login_register .left .box{
	width: 900px;
	height: 250px;
	float: left;
}
/*登陆*/
#login_register .frame{
	width: 90%;
	height: 210px;
	margin: 0 auto;
	position: relative;
}
#login_register .frame .one,#login_register .frame .two{
	width: 40%;
	height: 210px;
	float: left;
}
#login_register .frame .one{
	text-align: right;
}
#login_register .frame .two{
	text-align: left;
}
#login_register #ok,
#login_register #re{
	width: 140px;
	height: 30px;
	background: rgb(142,22,20);
	color: #FFF;
	cursor: pointer;
}

#login_register .toBtn{
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: rgb(142,22,20);
	color: #FFF;
	cursor: pointer;
}
#login_register .toBtn:hover,
#login_register #ok:hover,
#login_register #re:hover{
	background: red;
}
#login_register #yanzheng{
	width: 100px;
	height: 30px;
	float: left;
	background: rgb(142,22,20);
}
/*注册*/
#login_register .register .three{
	width: 65%;
	height: 210px;
	float: left;
	text-align: right;
}
#login_register .register .three .text{
	width: 40%;
}
#login_register .register .four{
	width: 35%;
	height: 210px;
	float: left;
}
#login_register #re{
	margin-right: 33px;
}


/*跳转*/
#login_register .toBtn{
	border-radius: 5px;
}
#login_register #toLogin{
	position: absolute;
	left: 50px;
	top: 100px;
}
#login_register #toRegister{
	position: absolute;
	right: 50px;
	top: 100px;
}
/*二维码*/
#login_register .right{
	width: 200px;
	height: 250px;
	position: absolute;
	right: 0;
}
#login_register .right img{
	position: absolute;
	width: 180px;
	height: 180px;
	bottom: 30px;
	left: 300px;
}
#login_register .right span{
	position: absolute;
	top: 20px;
	left: -200px;
}
/*--------------------主体内容------------------*/
#main{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
/*幻灯片*/
#main #container{
	width: 900px;
	float: left;
	overflow: hidden;
	position: relative;
	height: 450px;
}
#container .slider{
	width:4500px;
	background: red;
	position: absolute;
}
#container .slider img{
	width:900px;
	height: 450px;
	float: left;
}
/*按钮*/
#list{
	width: 100%;
	height: 15px;
	position: absolute;
	bottom: 20px;
	text-align: center;
}
#list span{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: rgba(0,0,0,0.7);  	
	line-height: 15px;	
	cursor: pointer;
	color: #FFFFFF;
}
#list span:hover{
	background: rgba(255,255,255,1);  
}
#list .on{
	background: rgba(255,255,255,1);
	color: #000000;  
}
#buttons{
	color: #FFFFFF;
	font-size: 50px;
	width:100%;
	height: 70px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 70px;
}
.next,.prev{
	float: right;
	background: rgba(0,0,0,0.5);
	width: 50px;
	height: 0px;
	text-align: center;
	cursor: pointer;
	z-index: 100;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.next:hover,.prev:hover{
	background: rgba(255,255,255,0.7);
	color: #000000;
}
.prev{
	float: left;
	cursor: pointer;
	z-index: 3;
}

/*热门贴吧*/
#main #hot_tieba{
	width: 200px;
	height: 450px;
	float: right;
	overflow: hidden;
	background: #FFFFFF;
}
#hot_tieba .top,
#hot_tieba .my_tieba{
	width: 200px;
	height: 225px;
}
#hot_tieba .info{
	height: 27%;
	width: 100%;
}
#hot_tieba .info .head{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	float: left;
}
#hot_tieba .info .content{
	width: 155px;
	height: 40px;
	float: right;
	overflow: hidden;
	padding: 0;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 	
}

/*热门推文*/
#hot_tuiwen{
	width: 100%;
	clear: both;
	padding-top: 20px;
}
#hot_tuiwen .content{
	width: 100%;
	margin-top: 20px;
}
#hot_tuiwen .box{
	width: 23%;

	float: left;
	margin-right: 27px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 10px #F0F0F0;
}
#hot_tuiwen .box:hover{
	box-shadow: 3px 3px 10px #cccccc;
}
#hot_tuiwen .content .noMargin{
	margin-right: 0px
}
#hot_tuiwen a{
	color:#000000;
}
#hot_tuiwen .box .top{
	font-size: 15px;
}
#hot_tuiwen .box .time,
#hot_tuiwen .box .author{
	width: 50%;
	float: left;
	color: #CCCCCC;
}
#hot_tuiwen .box .author{
	text-align: right;
}
#hot_tuiwen .box .info .img{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
#hot_tuiwen .box .info img{
	width: 100%;
	height: 150px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
#hot_tuiwen .box:hover img{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
#hot_tuiwen .box .info .content{
	height: 40px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 	
}
/*-------------------页尾-----------------------*/
#bottom{
	width: 100%;
	min-width: 1100px;
	height: 200px;
	background: rgb(142,22,20);
	clear: both;
}

