<extend name="Public:base"/>
<block name="main">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tuiwenindex.css" />
    <!--主要内容-->
    <div id="main">
        <notempty name="tweets">
            <foreach name="tweets" item="vo">
                <div class="twtop">
                    <div class="biaoti">
                        <h1>{$vo.title}</h1>
                    </div>
                    <div class="shijian">
                        <p>{$vo.t_date}</p>
                    </div>
                    <div class="zuozhe">
                        <span>作者：</span>
                        <span>{$vo.author}</span>
                    </div>
                </div>
                <div class="twmiddle">
                    <p>{$vo.content}</p>
                </div>
            </foreach>
            <else />
            没有任何数据
        </notempty>

        <!--            下面的评论-->
        <div class="twfoot">
            <!--               评论-->
            <include file="Public/edit"/>
            <!--                留言-->
            <div class="liuyan">
                <notempty name="comment">
                    <foreach name="comment" item="vo">
                        <div class="ly">
                            <div class="yk">
                                <img src="{$vo.u_headicon}">
                                <p class="lytime">{$vo.date}</p>
                            </div>
                            <p>{$vo.comment}</p>
                        </div>
                    </foreach>
                </notempty>
            </div>
        </div>
</block>