<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tiebaUse.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/post_editor.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/dist/css/wangEditor.min.css">
	</head>
	<body>
		<div id="box">
			<notempty name="postDetails">
				<foreach name="postDetails" item="vo">
					<div class="title">
						<p>标题:</p>
						<input type="text" name="" id="" value="{$vo.title}"/>
					</div>
					<p>内容:</p>
					<div class="content">

						<div class="pinglun" style="height: 40%;width: 100%;">
							<input type="hidden" id="type" value="{$type}">
							<input type="hidden" id="id" value="{$id}">
							<div id="edit" style="height:340px">
								<p>{$vo.content}</p>
							</div>
							<!--<p  id="p"><input id="publishBtn" type="button" value="发表"/></p>-->


						</div>
					</div>
					<div class="footer">
						<input type="button" name="" id="" value="确定" class="button"/>
						<input type="button" name="" id="" value="取消" class="button"/>
					</div>
				</foreach>
				</notempty>
		</div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/dist/js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/dist/js/wangEditor.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/postWangEditor.js"></script>
</html>
